@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/css/sticky-footer-navbar.css" rel="stylesheet" />


<!-- Fixed navbar -->
<nav class="navbar navbar-light bg-faded rounded navbar-toggleable-md">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="~/Content/images/logo-cresmont.png" width="150" />
        </a>
        <div class="collapse navbar-collapse centro" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<footer class="footer">
    <div class="container">
        <span class="text-muted">&copy; 2017 Cresmont. TP FINAL Programación Web 3 - Desarrollo Web - UNLaM </span>
    </div>
</footer>